:root {
  --lg-bw: linear-gradient(180deg, black 0% 85%, white 85% 100%);
  --lg-bw-2: linear-gradient(0deg, black 0% 90%, white 90% 100%);
  --lg-wbw: linear-gradient(
    180deg,
    white 0% 13%,
    black 13% 87%,
    white 87% 100%
  );
  --lg-wb-hr: linear-gradient(270deg, black 0% 75%, white 75% 100%);
  --lg-wb-hr-2: linear-gradient(90deg, black 0% 50%, white 50% 100%);
  --lg-ylw: linear-gradient(180deg, #ffbb00, #e4a30b, #a66f00);
  --lg-ylw-hr: linear-gradient(90deg, #ffbb00, #e4a30b, #a66f00);
  --lg-ylw-2: linear-gradient(180deg, #ffffff, #e4a30b30, #a66f0040);
  --lg-slv: linear-gradient(180deg, #9c9c9c, #717171, #595959);
  --lg-slv-2: linear-gradient(180deg, #ffffff, #71717130, #59595940);
  --lg-gw: linear-gradient(180deg, #404040 0% 50%, white 50% 100%);
  --lg-gw-2: linear-gradient(180deg, #404040 0% 85%, white 85% 100%);
  --lg-blk: linear-gradient(0deg, #111111, #2e2e2e, #404040);
  --lg-wht: linear-gradient(180deg, #eeeeee, #cdcdcd, #b7b7b7);
  --lg-bgb: linear-gradient(0deg, #111111 0%, #9c9c9c 15%, #111111 85%);
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

p,
h1,
h2,
h3,
span,
a {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
iframe {
  max-width: 100%;
}

img[src$=".jpg"] {
  border-radius: 0.5rem;
}

ul,
ol {
  padding-inline-start: 0;
  list-style: none;
}
ol li:before {
  content: counters(item, ".") " - ";
  counter-increment: item;
}

details > summary {
  list-style: none;
}

#lista li {
  min-width: 280px;
}
.scroll {
  overflow-x: scroll;
}

.pop-r {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pop-sb {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.rob-r {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rob-m {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mk-1 {
  display: flex;
}
.mk-1:before {
  display: inline-block;
  content: "";
  height: 0.4rem;
  width: 0.8rem;
  background: var(--lg-ylw-hr);
  margin-right: 0.2rem;
}
.rel {
  position: relative;
}
.tr-0 {
  position: absolute;
  top: 0;
  right: 0;
}

.hide {
  visibility: visible;
}
.h-4 {
  height: 4rem;
  background-color: transparent;
}
.h-100 {
  height: 100%;
}

.cov {
  object-fit: cover;
}

.cnt-res {
  counter-reset: item;
}

.pointer {
  cursor: pointer;
}

.sd-48 {
  max-width: 48%;
}
.sd-50 {
  max-width: 50%;
}
.sd-60 {
  margin-right: 2rem;
  max-width: 60%;
}
.fit {
  width: fit-content;
}

.ms-75 {
  max-height: 75%;
  max-width: 75%;
  box-sizing: border-box;
}
.wdt-30 {
  width: 30rem;
}
.wdt-45 {
  max-width: 45rem;
}

.mar-res {
  margin: 0;
}
.mar-a {
  margin: auto;
}
.mar-0a {
  margin: 0 auto;
}
.mar-02 {
  margin: 0.2rem;
}
.mar-02vt {
  margin: 0.2rem 0;
}
.mar-1 {
  margin: 1rem;
}
.mar-2 {
  margin: 2rem;
}
.mar-1tp {
  margin-top: 1rem;
}
.mar-5tp {
  margin-top: 5rem;
}
.mar-1bt {
  margin-bottom: 1rem;
}
.mar-5bt {
  margin-bottom: 5rem;
}
.mar-1vt {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mar-3vt {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mar-1lt {
  margin-left: 1rem;
}
.mar-15lt {
  margin-left: 1.5rem;
}
.mar-2lt {
  margin-left: 2rem;
}
.mar-1rt {
  margin-right: 1rem;
}
.mar-1hr {
  margin-left: 1rem;
  margin-right: 1rem;
}

.pad-res {
  padding: 0;
}
.pad-02 {
  padding: 0.2rem;
}
.pad-08 {
  padding: 0.8rem;
}
.pad-1 {
  padding: 1rem;
}
.pad-1lt {
  padding-left: 1rem;
}
.pad-2 {
  padding: 2rem;
}
.pad-3 {
  padding: 3rem;
}
.pad-rad {
  padding: 1rem 1rem 1rem 0.5rem;
}

.il-blc {
  display: inline-block;
}
.blc {
  display: block;
}
.grd {
  display: grid;
}
.grd-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grd-2-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grd-2-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grd-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.clm-ac {
  grid-column: 1 / -1;
}
.flx {
  display: flex;
  flex: 1;
}
.clm {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.gap-05 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.jc-st {
  justify-content: flex-star;
}
.jc-ed {
  justify-content: flex-end;
}
.jc-ct {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}
.jc-sa {
  justify-content: space-around;
}
.jc-se {
  justify-content: space-evenly;
}
.al-it {
  align-items: center;
}
.pl-ct {
  place-self: center;
}

.bg-blk {
  background: black;
}
.bg-blk-2 {
  background: var(--lg-blk);
}
.bg-wht {
  background: white;
}
.bg-wht-2 {
  background: var(--lg-wht);
}
.bg-gry {
  background: #404040;
}
.bg-gw {
  background: var(--lg-gw);
}
.bg-gw-2 {
  background: var(--lg-gw-2);
}
.bg-slv {
  background: var(--lg-slv);
}
.bg-slv-2 {
  background: var(--lg-slv-2);
}
.bg-wbw {
  background: var(--lg-wbw);
}
.bg-bw {
  background: var(--lg-bw);
}
.bg-bw-2 {
  background: var(--lg-bw-2);
}
.bg-ylw {
  background: #ffbb00;
}
.bg-ylw-2 {
  background: var(--lg-ylw);
}
.bg-ylw-3 {
  background: var(--lg-ylw-2);
}
.bg-wb-hr {
  background: var(--lg-wb-hr);
}
.bg-wb-hr-2 {
  background: var(--lg-wb-hr-2);
}

.clr-wht {
  color: white;
}
.clr-blk {
  color: black;
}
.clr-ylw {
  color: #ffbb00;
}
.clr-dyl {
  color: #332200;
}
.clr-slv {
  color: silver;
}
.clr-lgr {
  color: #b2b2b2;
}
.clr-dgr {
  color: #111111;
}
.clr-gld {
  color: gold;
}

.tal-rt {
  text-align: right;
}
.up-cs {
  text-transform: uppercase;
}
.fnt-ll {
  font-size: 2.6rem;
}
.fnt-l {
  font-size: 2.4rem;
}
.fnt-ml {
  font-size: 2rem;
}
.fnt-m {
  font-size: 1.8rem;
}
.fnt-sm {
  font-size: 1.5rem;
}
.fnt-s {
  font-size: 1.2rem;
}
.fnt-ss {
  font-size: 0.9rem;
}
.ln-hgt {
  line-height: 1.2;
}
.ln-hgt2 {
  line-height: 1.45;
}

.mark {
  list-style: url(/img/icones/lista.svg);
}

.brd-res {
  border: none;
}
.brd-lgr {
  border-bottom: #b7b7b7 solid 2px;
  border-right: #b7b7b7 solid 2px;
}
.brd-03 {
  border-radius: 0.3rem;
}
.brd-05 {
  border-radius: 0.5rem;
}

.hov-slv:hover {
  box-shadow: 1px 1px 2px 1px #717171, -1px -1px 2px 1px #717171;
  transition: 0.2s;
}
.hov-wht:hover {
  box-shadow: 1px 1px 2px 1px #eeeeee, -1px -1px 2px 1px #eeeeee;
  transition: 0.2s;
}
.hov:hover {
  box-shadow: 1px 1px 2px 1px #a66f00, -1px -1px 2px 1px #a66f00;
  transition: 0.2s;
}
.hov-2:hover {
  background: #9c9c9c30;
  transition: 0.2s;
}
.hov-3:hover {
  box-shadow: 1px 1px 2px 1px #a66f00, -1px -1px 2px 1px #a66f00;
  transition: 0.2s;
}
#fb:hover {
  border-radius: 50%;
  box-shadow: 1px 1px 2px 2px #dddddd, -1px -1px 2px 2px #dddddd;
  transition: 0.2s;
}
#fb2:hover {
  fill: #1877f2;
  transition: 0.2s;
}
#ig:hover {
  border-radius: 28%;
  box-shadow: 1px 1px 2px 2px #dddddd, -1px -1px 2px 2px #dddddd;
  transition: 0.2s;
}
#ig2:hover {
  fill: #e1306c;
  transition: 0.2s;
}
#yt:hover {
  background: linear-gradient(
    0deg,
    #000000 0% 35%,
    #ffffff 35% 65%,
    #000000 65% 100%
  );
  border-radius: 35%;
}
#yt2:hover {
  fill: #ff0000;
  transition: 0.2s;
}

#parc li:nth-child(n + 5) {
  border-bottom: none;
}
#parc li:nth-child(4),
#parc li:nth-child(8) {
  border-right: none;
}

#termos > li:nth-child(odd) {
  background: #dedede;
}

#faq li:nth-child(odd) {
  background: #dedede;
}
#faq details:hover {
  background: var(--lg-ylw-2);
  cursor: pointer;
}
#faq details[open] {
  background: var(--lg-ylw-2);
}

#bik-1 {
  box-shadow: 1px 1px 0 1px #eeeeee, -1px -1px 0 1px #eeeeee;
}

@media (max-width: 1000px) {
  html {
    font-size: 15px;
  }
  .sd-60 {
    max-width: 70%;
  }
}
@media (max-width: 900px) {
  .grd-2-2 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
  :root {
    --lg-wbw: linear-gradient(
      180deg,
      white 0% 8%,
      black 8% 92%,
      white 92% 100%
    );
  }
  .grd-2-3 {
    display: flex;
    flex-direction: column;
  }
  .grd-4 {
    grid-template-columns: repeat(2, 1fr);
  }
  #parc li {
    border-bottom: #b7b7b7 solid 2px !important;
  }
  #parc li:nth-child(2),
  #parc li:nth-child(6) {
    border-right: none;
  }
  #parc li:nth-child(n + 7) {
    border-bottom: none !important;
  }
  #parc {
    margin: auto;
  }
  .sd-60 {
    max-width: 80%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 13px;
  }
  .grd-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hide {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .h-4 {
    height: 4rem;
  }
  .clr-bw {
    color: #ffffff;
  }
  :root {
    --lg-bw: #000000;
    --lg-bw-2: #000000;
    --lg-wbw: #000000;
    --lg-wb-hr: #000000;
    --lg-wb-hr-2: #000000;
  }
  #parc li {
    padding: 0.7rem;
  }
  .sd-60 {
    max-width: 90%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
